[submodule "ApnaInsti-Android"]
	path = ApnaInsti-Android
	url = https://github.com/tsg-iitkgp/ApnaInsti-Android
[submodule "ApnaInsti-Web"]
	path = ApnaInsti-Web
	url = https://github.com/tsg-iitkgp/ApnaInsti-Web
[submodule "ApnaInsti-Help"]
	path = ApnaInsti-Help
	url = https://github.com/tsg-iitkgp/ApnaInsti-Help
[submodule "ApnaInsti-FlutterApp"]
	path = ApnaInsti-FlutterApp
	url = https://github.com/tsg-iitkgp/ApnaInsti-FlutterApp
[submodule "ApnaInsti-Django"]
	path = ApnaInsti-Django
	url = https://github.com/tsg-iitkgp/ApnaInsti-Django
